.clearfix() {
	&:before,
	&:after {
		content: " "; // 1
		display: table; // 2
	}
	&:after {
		clear: both;
	}
}





.make-grid-columns() {
	// Common styles for all sizes of grid columns, widths 1-12
	.col(@index) { // initial
		@item: ~".column-@{index}";
		.col((@index + 1), @item);
	}
	.col(@index, @list) when (@index =< @grid-columns) { // general; "=<" isn't a typo
		@item: ~".column-@{index}";
		.col((@index + 1), ~"@{list}, @{item}");
	}
	.col(@index, @list) when (@index > @grid-columns) { // terminal
		@{list} {
			position: relative;
			min-height: 1px;
			padding-left:  ceil((@grid-gutter-width / 2));
			padding-right: floor((@grid-gutter-width / 2));
		}
	}
	.col(1); // kickstart it
}

.float-grid-columns() {
	.col(@index) { // initial
		@item: ~".column-@{index}";
		.col((@index + 1), @item);
	}
	.col(@index, @list) when (@index =< @grid-columns) { // general
		@item: ~".column-@{index}";
		.col((@index + 1), ~"@{list}, @{item}");
	}
	.col(@index, @list) when (@index > @grid-columns) { // terminal
		@{list} {
			float: left;
		}
	}
	.col(1); // kickstart it
}

.calc-grid-column(@index, @type) when (@type = width) and (@index > 0) {
	.column-@{index} {
		width: percentage((@index / @grid-columns));
	}
}
.calc-grid-column(@index, @type) when (@type = push) and (@index > 0) {
	.column-push-@{index} {
		left: percentage((@index / @grid-columns));
	}
}
.calc-grid-column(@index, @type) when (@type = push) and (@index = 0) {
	.column-push-0 {
		left: auto;
	}
}
.calc-grid-column(@index, @type) when (@type = pull) and (@index > 0) {
	.column-pull-@{index} {
		right: percentage((@index / @grid-columns));
	}
}
.calc-grid-column(@index, @type) when (@type = pull) and (@index = 0) {
	.column-pull-0 {
		right: auto;
	}
}
.calc-grid-column(@index, @type) when (@type = offset) {
	.column-offset-@{index} {
		margin-left: percentage((@index / @grid-columns));
	}
}

// Basic looping in LESS
.loop-grid-columns(@index, @type) when (@index >= 0) {
	.calc-grid-column(@index, @type);
	// next iteration
	.loop-grid-columns((@index - 1), @type);
}

// Create grid for specific class
.make-grid() {
	.float-grid-columns();
	.loop-grid-columns(@grid-columns, width);
	.loop-grid-columns(@grid-columns, pull);
	.loop-grid-columns(@grid-columns, push);
	.loop-grid-columns(@grid-columns, offset);
}