.comments {
	.clearfix();

	&__box {
		.clearfix();
	}

	&__heading {
		font-size: 22px;
		font-weight: 400;
		padding-bottom: 25px;
		border-bottom: 2px solid #3b3e44;
		margin: 0;
		margin-bottom: 30px;
	}

	&__list {
		margin: 0;
		padding: 0;
		position: relative;
		list-style: none;
	}

	&__item {
		padding: 10px 25px 10px 25px;
		margin-bottom: 12px;
		position: relative;
		font-size: 14px;
		line-height: 22px;

		&__delete {
			position: absolute;
			width: 20px;
			height: 20px;
			top: 10px;
			right: 0;
			cursor: pointer;

			&:hover {
				&::before, &::after {
					opacity: 1;
				}
			}

			&::before, &::after {
				content: '';
				position: absolute;
				height: 2px;
				width: 100%;
				top: 50%;
				left: 0;
				margin-top: -1px;
				background: #000;
				opacity: .5;
			}

			&::before {
				transform: rotate(45deg);
			}

			&::after {
				transform: rotate(-45deg);
			}
		}

		&__author {
			margin: 0;
			padding: 0;
			list-style: none;
			text-align: center;

			&__avatar {
				width: 40px;
				height: 40px;
				border-radius: 50%;
				overflow: hidden;
				position: relative;
				display: block;
				margin: 0 auto;
				margin-bottom: 12px;

				&__picture {
					max-width: 100%;
					display: block;
				}

				&__stub {
					padding: 6px 3px 0;
					opacity: 0.5;
					background-color: #25B5C9;
				}
			}
		}

		&__header {
			&__meta {
				margin: 0;
				padding: 0;
				list-style: none;

				&__name, &__date {
					display: inline-block;
					margin-bottom: 4px;
				}

				&__name {
					font-weight: 700;

					span {
						font-weight: 400;
					}
				}

				&__date {
					color: #c1bfbf;
				}
			}
		}

		&__text {
			&__reply {
				color: #52b9e6;
				margin-left: 10px;
				cursor: pointer;
			}
		}
	}

	&__form {
		position: relative;
		margin-top: 8px;
		padding: 10px 25px 10px 25px;

		&__message {
			font-size: 16px;
			padding-bottom: 18px;
			position: relative;

			&::after {
				content: "";
				display: block;
				width: 10px;
				height: 10px;
				background-color: #fff;
				border: 2px solid #bebebe;
				border-right: 0;
				border-top: 0;
				position: absolute;
				top: 15px;
				left: -5px;
				z-index: 0;
				transform: rotate(45deg);
			}

			&__textarea {
				width: 100%;
				resize: none;
				border: 2px solid #bebebe;
				padding: 15px 20px;
				font-size: 14px;
				line-height: 21px;
				outline: 0;
				min-height: 100px;

				&:focus {
					border-color: #3fbb4b;
				}
			}
		}

		&__submit {
			background-color: #fff;
			border: 1px solid #bebebe;
			color: #3b3e44;
			padding: 6px 10px 9px;
			font-size: 14px;
			min-width: 100px;
			display: inline-block;
			border-radius: 4px;
			outline: 0;
			transition: .2s all;
			text-align: center;

			&:hover {
				color: #64a7de;
				border: 1px solid transparent;
				box-shadow: 0 1px 2.94px .06px rgba(100,167,222,.92);
			}
		}
	}
}