@grid-columns:			12;
@grid-gutter-width:		20px;

.columns {
	margin-left:  ceil((@grid-gutter-width / -2));
	margin-right: floor((@grid-gutter-width / -2));
	.clearfix();
}

.make-grid-columns();

.make-grid();