.reviews {
	.clearfix();

	&__box {
		background: #fff;
		box-shadow: 0 1px 2.94px .06px rgba(0,0,0,.2);
		padding: 30px;
		.clearfix();
	}

	&__author {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;

		&__avatar {
			width: 90px;
			height: 90px;
			border-radius: 50%;
			overflow: hidden;
			position: relative;
			display: block;
			margin: 0 auto;
			margin-bottom: 12px;

			&__picture {
				max-width: 100%;
				display: block;
			}
		}

		&__name {
			font-size: 14px;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		&__location {
			font-size: 12px;
			color: #bebebe;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}

	&__header {
		&__date {
			font-size: 14px;
			margin-bottom: 10px;
		}
		&__title {
			font-size: 22px;
			margin: 0;
			margin-bottom: 15px;
			font-weight: 700;
			word-break: break-word;
		}
	}

	&__text {
		position: relative;
		word-wrap: break-word;
		padding-bottom: 25px;
		border-bottom: 1px solid #bebebe;
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 25px;
		overflow: initial;
	}
}
