/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  box-sizing: border-box;
}
body {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  min-width: 1220px;
  text-rendering: optimizeLegibility;
  background-color: #e7e7e7;
}
.l-wrapper {
  position: relative;
}
.l-wrapper:before,
.l-wrapper:after {
  content: " ";
  display: table;
}
.l-wrapper:after {
  clear: both;
}
.l-main {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}
.l-main:before,
.l-main:after {
  content: " ";
  display: table;
}
.l-main:after {
  clear: both;
}
.l-main--padded {
  padding: 60px 0;
}
.columns {
  margin-left: -10px;
  margin-right: -10px;
}
.columns:before,
.columns:after {
  content: " ";
  display: table;
}
.columns:after {
  clear: both;
}
.column-1, .column-2, .column-3, .column-4, .column-5, .column-6, .column-7, .column-8, .column-9, .column-10, .column-11, .column-12 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.column-1, .column-2, .column-3, .column-4, .column-5, .column-6, .column-7, .column-8, .column-9, .column-10, .column-11, .column-12 {
  float: left;
}
.column-12 {
  width: 100%;
}
.column-11 {
  width: 91.66666667%;
}
.column-10 {
  width: 83.33333333%;
}
.column-9 {
  width: 75%;
}
.column-8 {
  width: 66.66666667%;
}
.column-7 {
  width: 58.33333333%;
}
.column-6 {
  width: 50%;
}
.column-5 {
  width: 41.66666667%;
}
.column-4 {
  width: 33.33333333%;
}
.column-3 {
  width: 25%;
}
.column-2 {
  width: 16.66666667%;
}
.column-1 {
  width: 8.33333333%;
}
.column-pull-12 {
  right: 100%;
}
.column-pull-11 {
  right: 91.66666667%;
}
.column-pull-10 {
  right: 83.33333333%;
}
.column-pull-9 {
  right: 75%;
}
.column-pull-8 {
  right: 66.66666667%;
}
.column-pull-7 {
  right: 58.33333333%;
}
.column-pull-6 {
  right: 50%;
}
.column-pull-5 {
  right: 41.66666667%;
}
.column-pull-4 {
  right: 33.33333333%;
}
.column-pull-3 {
  right: 25%;
}
.column-pull-2 {
  right: 16.66666667%;
}
.column-pull-1 {
  right: 8.33333333%;
}
.column-pull-0 {
  right: auto;
}
.column-push-12 {
  left: 100%;
}
.column-push-11 {
  left: 91.66666667%;
}
.column-push-10 {
  left: 83.33333333%;
}
.column-push-9 {
  left: 75%;
}
.column-push-8 {
  left: 66.66666667%;
}
.column-push-7 {
  left: 58.33333333%;
}
.column-push-6 {
  left: 50%;
}
.column-push-5 {
  left: 41.66666667%;
}
.column-push-4 {
  left: 33.33333333%;
}
.column-push-3 {
  left: 25%;
}
.column-push-2 {
  left: 16.66666667%;
}
.column-push-1 {
  left: 8.33333333%;
}
.column-push-0 {
  left: auto;
}
.column-offset-12 {
  margin-left: 100%;
}
.column-offset-11 {
  margin-left: 91.66666667%;
}
.column-offset-10 {
  margin-left: 83.33333333%;
}
.column-offset-9 {
  margin-left: 75%;
}
.column-offset-8 {
  margin-left: 66.66666667%;
}
.column-offset-7 {
  margin-left: 58.33333333%;
}
.column-offset-6 {
  margin-left: 50%;
}
.column-offset-5 {
  margin-left: 41.66666667%;
}
.column-offset-4 {
  margin-left: 33.33333333%;
}
.column-offset-3 {
  margin-left: 25%;
}
.column-offset-2 {
  margin-left: 16.66666667%;
}
.column-offset-1 {
  margin-left: 8.33333333%;
}
.column-offset-0 {
  margin-left: 0%;
}
.reviews:before,
.reviews:after {
  content: " ";
  display: table;
}
.reviews:after {
  clear: both;
}
.reviews__box {
  background: #fff;
  box-shadow: 0 1px 2.94px 0.06px rgba(0, 0, 0, 0.2);
  padding: 30px;
}
.reviews__box:before,
.reviews__box:after {
  content: " ";
  display: table;
}
.reviews__box:after {
  clear: both;
}
.reviews__author {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.reviews__author__avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: 12px;
}
.reviews__author__avatar__picture {
  max-width: 100%;
  display: block;
}
.reviews__author__name {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.reviews__author__location {
  font-size: 12px;
  color: #bebebe;
  text-overflow: ellipsis;
  overflow: hidden;
}
.reviews__header__date {
  font-size: 14px;
  margin-bottom: 10px;
}
.reviews__header__title {
  font-size: 22px;
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  word-break: break-word;
}
.reviews__text {
  position: relative;
  word-wrap: break-word;
  padding-bottom: 25px;
  border-bottom: 1px solid #bebebe;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 25px;
  overflow: initial;
}
.comments:before,
.comments:after {
  content: " ";
  display: table;
}
.comments:after {
  clear: both;
}
.comments__box:before,
.comments__box:after {
  content: " ";
  display: table;
}
.comments__box:after {
  clear: both;
}
.comments__heading {
  font-size: 22px;
  font-weight: 400;
  padding-bottom: 25px;
  border-bottom: 2px solid #3b3e44;
  margin: 0;
  margin-bottom: 30px;
}
.comments__list {
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
}
.comments__item {
  padding: 10px 25px 10px 25px;
  margin-bottom: 12px;
  position: relative;
  font-size: 14px;
  line-height: 22px;
}
.comments__item__delete {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 0;
  cursor: pointer;
}
.comments__item__delete:hover::before,
.comments__item__delete:hover::after {
  opacity: 1;
}
.comments__item__delete::before,
.comments__item__delete::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #000;
  opacity: .5;
}
.comments__item__delete::before {
  transform: rotate(45deg);
}
.comments__item__delete::after {
  transform: rotate(-45deg);
}
.comments__item__author {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.comments__item__author__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: 12px;
}
.comments__item__author__avatar__picture {
  max-width: 100%;
  display: block;
}
.comments__item__author__avatar__stub {
  padding: 6px 3px 0;
  opacity: 0.5;
  background-color: #25B5C9;
}
.comments__item__header__meta {
  margin: 0;
  padding: 0;
  list-style: none;
}
.comments__item__header__meta__name,
.comments__item__header__meta__date {
  display: inline-block;
  margin-bottom: 4px;
}
.comments__item__header__meta__name {
  font-weight: 700;
}
.comments__item__header__meta__name span {
  font-weight: 400;
}
.comments__item__header__meta__date {
  color: #c1bfbf;
}
.comments__item__text__reply {
  color: #52b9e6;
  margin-left: 10px;
  cursor: pointer;
}
.comments__form {
  position: relative;
  margin-top: 8px;
  padding: 10px 25px 10px 25px;
}
.comments__form__message {
  font-size: 16px;
  padding-bottom: 18px;
  position: relative;
}
.comments__form__message::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border: 2px solid #bebebe;
  border-right: 0;
  border-top: 0;
  position: absolute;
  top: 15px;
  left: -5px;
  z-index: 0;
  transform: rotate(45deg);
}
.comments__form__message__textarea {
  width: 100%;
  resize: none;
  border: 2px solid #bebebe;
  padding: 15px 20px;
  font-size: 14px;
  line-height: 21px;
  outline: 0;
  min-height: 100px;
}
.comments__form__message__textarea:focus {
  border-color: #3fbb4b;
}
.comments__form__submit {
  background-color: #fff;
  border: 1px solid #bebebe;
  color: #3b3e44;
  padding: 6px 10px 9px;
  font-size: 14px;
  min-width: 100px;
  display: inline-block;
  border-radius: 4px;
  outline: 0;
  transition: .2s all;
  text-align: center;
}
.comments__form__submit:hover {
  color: #64a7de;
  border: 1px solid transparent;
  box-shadow: 0 1px 2.94px 0.06px rgba(100, 167, 222, 0.92);
}
