* {
	box-sizing: border-box;
}

body {
	color: #000;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	min-width: 1220px;
	text-rendering: optimizeLegibility;
	background-color: #e7e7e7;
}